In [1]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC, SVR
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

In [53]:
#Step 1.
data = pd.read_csv("train.csv")
data.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

# Training and Test split.

In [54]:
#step2.
data = data.drop(columns=['ID']) # Data Drop.

In [55]:
#step3.
data.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000
mean,3.360341,10.689189,11.293483,0.060060,0.557144,6.265619,68.226426,3.709934,9.633634,409.279279,18.448048,359.466096,12.515435,22.768769
std,7.352272,22.674762,6.998123,0.237956,0.114955,0.703952,28.133344,1.981123,8.742174,170.841988,2.151821,86.584567,7.067781,9.173468
min,0.006320,0.000000,0.740000,0.000000,0.385000,3.561000,6.000000,1.129600,1.000000,188.000000,12.600000,3.500000,1.730000,5.000000
25%,0.078960,0.000000,5.130000,0.000000,0.453000,5.884000,45.400000,2.122400,4.000000,279.000000,17.400000,376.730000,7.180000,17.400000
50%,0.261690,0.000000,9.900000,0.000000,0.538000,6.202000,76.700000,3.092300,5.000000,330.000000,19.000000,392.050000,10.970000,21.600000
75%,3.678220,12.500000,18.100000,0.000000,0.631000,6.595000,93.800000,5.116700,24.000000,666.000000,20.200000,396.240000,16.420000,25.000000
max,73.534100,100.000000,27.740000,1.000000,0.871000,8.725000,100.000000,10.710300,24.000000,711.000000,21.200000,396.900000,37.970000,50.000000

In [56]:
# step 4
data.info()
data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 14 columns):
crim       333 non-null float64
zn         333 non-null float64
indus      333 non-null float64
chas       333 non-null int64
nox        333 non-null float64
rm         333 non-null float64
age        333 non-null float64
dis        333 non-null float64
rad        333 non-null int64
tax        333 non-null int64
ptratio    333 non-null float64
black      333 non-null float64
lstat      333 non-null float64
medv       333 non-null float64
dtypes: float64(11), int64(3)
memory usage: 36.5 KB

(333, 14)

In [57]:
#step5.
y = data['medv'].values
x = data.iloc[:,:-1].values

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(266, 13) (266,)
(67, 13) (67,)

In [58]:
#step6.
clf = LinearRegression()
clf.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [59]:
#step7.
y_train_pred=clf.predict(X_train)

mse = mean_squared_error(y_train, y_train_pred)
mae = mean_absolute_error(y_train, y_train_pred)
r2 = r2_score(y_train, y_train_pred)

print("Training metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

Training metrics:
Mean square error:  21.040498371639785
Mean absolute error:  3.272414833587918
R2 score 0.742277691872377

In [60]:
#step8.
y_test_pred=clf.predict(X_test)

mse = mean_squared_error(y_test, y_test_pred)
mae = mean_absolute_error(y_test, y_test_pred)
r2 = r2_score(y_test, y_test_pred)

print("Test metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

Test metrics:
Mean square error:  29.787451586491173
Mean absolute error:  3.8084531868868745
R2 score 0.6682321747522671

In [61]:
#step9.
clf2 = SVR()
clf2.fit(X_train,y_train)

G:\Anaconda\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [62]:
#step10.
y_train_pred=clf2.predict(X_train)

mse = mean_squared_error(y_train, y_train_pred)
mae = mean_absolute_error(y_train, y_train_pred)
r2 = r2_score(y_train, y_train_pred)

print("Training metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

Training metrics:
Mean square error:  69.28076054515898
Mean absolute error:  5.423139150962475
R2 score 0.1513890402614072

In [63]:
#step11.
y_test_pred=clf2.predict(X_test)

mse = mean_squared_error(y_test, y_test_pred)
mae = mean_absolute_error(y_test, y_test_pred)
r2 = r2_score(y_test, y_test_pred)

print("Test metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

Test metrics:
Mean square error:  88.90496808517022
Mean absolute error:  6.683969386356366
R2 score 0.009790823169559482

### polynomial model

In [64]:
#step5.
y = data["medv"].values
x = data.iloc[:,:-1].values

pf = PolynomialFeatures(2)
x = pf.fit_transform(x)

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(266, 105) (266,)
(67, 105) (67,)

In [65]:
#step6.
clf = LinearRegression()
clf.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [66]:
#step7.
y_train_pred=clf.predict(X_train)

mse = mean_squared_error(y_train, y_train_pred)
mae = mean_absolute_error(y_train, y_train_pred)
r2 = r2_score(y_train, y_train_pred)

print("Training metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

Training metrics:
Mean square error:  86.27260903968748
Mean absolute error:  7.030614328025875
R2 score -0.10079148821572947

In [67]:
#step8.
y_test_pred=clf.predict(X_test)

mse = mean_squared_error(y_test, y_test_pred)
mae = mean_absolute_error(y_test, y_test_pred)
r2 = r2_score(y_test, y_test_pred)

print("Test metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

Test metrics:
Mean square error:  402563.24305051
Mean absolute error:  134.5092756043619
R2 score -3946.0355141377013

In [69]:
#step7.
y_train_pred=clf.predict(X_train)

mse = mean_squared_error(y_train, y_train_pred)
mae = mean_absolute_error(y_train, y_train_pred)
r2 = r2_score(y_train, y_train_pred)

print("Training metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

#step8.
y_test_pred=clf.predict(X_test)

mse = mean_squared_error(y_test, y_test_pred)
mae = mean_absolute_error(y_test, y_test_pred)
r2 = r2_score(y_test, y_test_pred)

print("Test metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

Training metrics:
Mean square error:  68.33178938761294
Mean absolute error:  5.331359649122808
R2 score 0.12812359600911494
Test metrics:
Mean square error:  113.76113909618581
Mean absolute error:  7.429975124378111
R2 score -0.11540053368723857